traces/input/FB.tr filter=lfs diff=lfs merge=lfs -text
traces/demand/* filter=lfs diff=lfs merge=lfs -text
!traces/demand/*.jpeg filter=lfs diff=lfs merge=lfs -text
!traces/demand/*.png filter=lfs diff=lfs merge=lfs -text